<div id="body-perfil">
  <header>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <div class="w-50 d-flex justify-content-between d-lg-none">
          <a class="navbar-brand d-lg-none" href="./home">
            <i class="bi bi-arrow-left fw-bolder"></i>
          </a>
          <img src="/images/logo.png" class="img-header" alt="Logo billetera CAC"
            class="animate__animated animate__flipInX me-3">
        </div>
        <a class="navbar-brand ms-5 d-none d-lg-flex justify-content-center align-items-center" href="./home">
          <img src="/images/logo.png" class="img-header" alt="Logo billetera CAC"
            class="animate__animated animate__flipInX me-3">
          <span class="fw-bold ms-3">Codo a codo homebanking</span>
        </a>
        <button class="navbar-toggler position-absolute end-0 me-5" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse me-5" id="navbarText">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
            </li>
          </ul>
          <span class="navbar-text">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./home">Cuenta</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./perfil">Mi perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./transferencias">Transferencias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./inversiones">Inversiones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./pagos">Pagos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./index"><i class="bi bi-door-closed" title="Logout"></i></a>
              </li>
            </ul>
          </span>
        </div>
      </div>
    </nav>

  </header>

  <main>

      <div class="container d-flex justify-content-center text-center mt-4 mx-sm-auto" id="perfil-vista">
        <div class="row">
          <section class="col-sm-12">
            <article class="d-flex flex-row justify-content-center flex-sm-nowrap flex-wrap">
              <!-- Consultamos en la BBDD, si el usuario no subió su foto se mostrara por defecto la img "perfil-hombre" o "perfil-mujer" dependiendo el sexo
                        -->
              <img src="" id="img-perfil" class="mx-auto rounded-circle" alt="Foto de perfíl">

              <script>
                let genero = "mujer" //Posteriormente se buscara el género en BBDD

                if (genero == "mujer") {
                  document.getElementById("img-perfil").src = "/images/perfil-mujer.webp"
                } else if (genero == "hombre") {
                  document.getElementById("img-perfil").src = "/images/perfil-hombre.webp"
                } else {
                  document.getElementById("img-perfil").src = "/images/logo.png"
                }
              </script>

              <span class="d-flex align-self-center fw-bold fs-2 ms-3" id="ape-nom">{{titular}}</span>
            </article>

            <article class="datos-usuario mt-5 fs-3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                  <span><i class="bi bi-envelope"></i> <span id="email">Email: {{mail}}</span></span><button type="button"
                    class="btn btn-link ms-3"><i class="bi bi-pencil-fill"></i></button>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span><i class="bi bi-telephone"></i> <span id="tel">Teléfono: {{telefono}}</span></span><button type="button"
                    class="btn btn-link ms-3"><i class="bi bi-pencil-fill"></i></button>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span><i class="bi bi-house"></i> <span id="domicilio">Domicilio: {{domicilio}}</span></span><button
                    type="button" class="btn btn-link ms-3"><i class="bi bi-pencil-fill"></i></button>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span><i class="bi bi-bank"></i> <span id="alias">Alias: {{alias}}</span></span><span><button type="button"
                      class="btn btn-primary ms-3"><i class="bi bi-clipboard-check-fill"></i></button>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span><i class="bi bi-bank"></i> <span id="cvu">CBU: {{CBU}}</span></span><button type="button"
                    class="btn btn-primary ms-3"><i class="bi bi-clipboard-check-fill"></i></button>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span><i class="bi bi-credit-card-2-front"></i> <span id="nro-cuenta">Nro de Cuenta: {{cuenta}}</span></span><button type="button" class="btn btn-primary ms-3"><i
                      class="bi bi-clipboard-check-fill"></i></button>
                </li>
              </ul>
            </article>
          </section>
        </div>
      </div>

    </div>

  </main>

  <footer id="footer" class="text-center d-none d-lg-block">
    <p class="naranja">© 2024 Codo a codo homebanking. Todos los derechos reservados. Prohibida la duplicación,
      distribución o almacenamiento en cualquier medio.</p>
  </footer>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>